{
  "presets": [
    "react",
    "env",
    "stage-0"
  ],
  "plugins": [
    "relay",
    "transform-decorators-legacy",
    "transform-object-assign",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "utils": "utils",
        "public": "server/public",
        "components": "server/components",
        "componentsShare": "server/components/share",
        "componentsTimeTracker": "server/components/time-tracker",
        "componentsModifyTodo": "server/components/modify-todo",
        "componentsSetting": "server/components/setting",
        "containers": "server/containers",
        "routers": "server/routers",
        "schemas": "server/schemas",
        "db": "firebase",
        "constants": "server/constants",
        "fields": "server/constants/fields",
        "mutations": "server/mutations"
      }
    }]
  ]
}
